<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/carrinho.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Carrinho</title>
  </head>
  <body>
    <header>
      <div class="head">
        <i class="fa-solid">Farm2U</i>
      </div>
    </header>
    <div class="container">
      <div>
        <h2>Meu Carrinho</h2>
      </div>
      <form action="/orders" method="post">
      <table id="productTable">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço Unitário</th>
            <th>Quantidade</th>           
          </tr>
        </thead>
        <% products.forEach(product => { %>
        <tbody>
          <tr>
            <th><%= product.name %></th>
            <th><%= product.price %>€</th>
            <th><%= product.quantity%></th>
            <input name="quantity" hidden value="<%= product.quantity %>">
            <input name="product_id" hidden value="<%= product.id %>" />
          </tr>
        </tbody>
        <% }); %>
      </table>
      <div class="valor-total">
        <table>
          <tr>
            <td><%= sum %></td>
            <td id="valor-total">€</td>
          </tr>
        </table>
      </div>
      <div class="text">
        <h3>Escolha a forma para obter seus produtos</h3>
      </div>
      <table id="deliveryTable">
        <tbody>
          <tr>
            <td>
              <input type="checkbox" value="Com Entrega" name="delivery_type" id="comEntrega" /> Com Entrega - taxa 4€
            </td>
            <td><input type="checkbox" value="Com Pick-up" name="delivery_type" id="comPickup" /> Com Pick-up</td>
          </tr>
        </tbody>
      </table>
      <div class="text">
        <h3>Deseja deixar informações extra sobre seu pedido?</h3>
      </div>
      <div class="extra-info">
        <textarea
          id="extraInfo"
          rows="4"
          cols="50"
          name="note"
          placeholder="Digite suas informações aqui..."
        ></textarea>
      </div>
      <div class="button-container">
        <button type="submit" class="button">Finalizar Compra</button>
      </form>
      </div>
    </div>
    
  </body>
</html>
