<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja do Comerciante</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/loja.css" />
    <link rel="stylesheet" href="/css/img.css" />
    <link rel="stylesheet" href="/css/font.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="barra">
      <div class="avaliacoes">
        <% if (seller) { %>
        <h2><%= seller.store_name %></h2>
        <p><%= seller.address %></p>
        <p><%= seller.store_category %></p>
        <p><%= seller.id %></p>
        <% } else { %>
        <h2>Loja não encontrada</h2>
        <% } %>
      </div>
    </div>
    <br />
    <% if (seller) { %>
    <div class="container-produto">
      <% products.forEach(product => { %>
      <div class="produto" data-product-id="<%= product.id %>">
        <img src="<%= product.img %>" alt="Imagem do produto" />
        <h3 class="nome-produto"><%= product.name %></h3>
        <h2 class="preco-produto"><%= product.price %>€</h2>
        <input class="input-size" type="number" value="1" min="1" />
        <br />
        <button class="add_carrinho">Adicionar</button>
      </div>
      <% }); %>
    </div>
    <% } %>
    <div class="container">
      <% if (seller) { %>
      <h1>Avalie-nos</h1>
      <form id="ratingForm" method="post">
        <div class="star-rating">
          <input type="radio" name="rating" id="star1" value="1" /><label
            for="star1"
            >&#9733;</label
          >
          <input type="radio" name="rating" id="star2" value="2" /><label
            for="star2"
            >&#9733;</label
          >
          <input type="radio" name="rating" id="star3" value="3" /><label
            for="star3"
            >&#9733;</label
          >
          <input type="radio" name="rating" id="star4" value="4" /><label
            for="star4"
            >&#9733;</label
          >
          <input type="radio" name="rating" id="star5" value="5" /><label
            for="star5"
            >&#9733;</label
          >
        </div>
        <textarea
          id="comment"
          name="comment"
          placeholder="Deixe um comentário"
        ></textarea>
        <input type="text" hidden="" />
        <button type="submit">Enviar Avaliação</button>
      </form>
      <h2>Avaliações</h2>
      <div id="reviews">
        <% if (reviews.length > 0) { %> <% reviews.forEach(review => { %>
        <div class="review">
          <div class="stars">
            <% for (let i = 0; i < review.rating; i++) { %>&#9733;<% } %> <% for
            (let i = review.rating; i < 5; i++) { %>&#9734;<% } %>
          </div>
          <p><%= review.comment %></p>
        </div>
        <% }); %> <% } else { %>
        <p>Ainda não há avaliações para esta loja.</p>
        <% } %>
      </div>
      <% } %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
